.page-title {
    background-color: #000000;
    padding: 10px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

.view-title {
    background-color: #d9d9d9;
    padding: 5px;
    font-weight: bold;
    border-radius: 25px;
}

.custom-table {
    font-size: 10px;
}

.view-box {
    border: 2px solid #fafafa;
    border-radius: 15px;
    background-color: #fafafa;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}