.panel {
    float: left;
    width: 250px;
    height: 800px;
}

.timeselector {
    float: left;
    width: 900px;
    height: 2000px;
}

.right {
    float: left;
    width: 500px;
    height: 2000px;
}

.backtest {
    width: 700px;
    height: 500px;
}

.candle {
    width: 800px;
    height: 500px;
}

.editor {
    width: 800px;
    height: 500px;
}

.exampler {
    float: left;
    width: 550px;
    height:300px;
}

.edit {
    float: left;
}