/* src/BarChart.css */

.bar {
    fill: steelblue;
  }
  
  .bar:hover {
    fill: orange;
  }
  
  .axis-label {
    font-size: 12px;
  }
  
  .tooltip {
    position: absolute;
    text-align: center;
    padding: 6px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 4px;
    pointer-events: none;
  }
  
  .legend rect {
    stroke-width: 1;
    stroke: #000;
  }
  
  .legend text {
    font-size: 12px;
  }
  